{% extends "base.html" %}
{% load static%}
{% block page_content %}
<style>
    .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    }
</style>
<h1 class="m-3" style="text-align: center;">Projects</h1>
<div class="row">
    {% for project in projects%}
        <div class="col-md-4">
            <div class="class card mb-2">
                <img src="{{ project.image.url }}"  class="card-img-top">
                <div class="card-body shadow">
                    <h5 class="card-title">{{ project.title }}</h5>
                    <p class="card-text">{{ project.description }}</p>
                    <a href="{% url 'project_detail' project.pk %}" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
